body{
    background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.Titu{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    text-shadow: 10px 10px 10px white;
}
.boton{
    border:none;
    border-radius: 80%;
    cursor:pointer;
 
}